***DATA TYPES AND STRUCTURES QUESTIONS***

---

Q1: What are data structures, and why are they important?

---
Ans: Data Structures are the way of organizing and storing data so that it can accessed and manipulated efficiently. They identify how elements are related to each and one and how manipulation can be done.
IMPORTANCE:
* Organinzing complex data is easy
* Operations like sorting and searching can be persormed efficiently.
*  Simplifies data manipulation
*  crucial for program performance and memory usage

In [ ]:
'''
Q2: Explain the difference between mutable and immutable data types with examples?

Ans: Mutable data types can be modified which means values can be added , removed or changed after creation.
Whereas Imutable data types cannot be modified or changed which means neither value can be added nor removed once created.
Example for mutable data types are list, dictionaries, set
Example for imutable data types are int, float, string, tuples.
Let's see the difference with example:
'''
list1 = [1,2,3] # mutable type: list
list1[1] = 20   # chenging value 2 with 20
print(list1)    # updated list printed
tuple1 = (1,2,3) # imutable type
tuple1[1] = 20  # changing value 2 with 20
print(tuple1)    # throw error

[1, 20, 3]

TypeError: 'tuple' object does not support item assignment

Q3: What are the main differences between lists and tuples in Python?


---
Ans: The main difference between list and tuple is that list is mutable data structure which means it can be modified whereas tuple is  imutable data structure which means it cannot be changed once created.As shown example in Q2 that how changing list updates the existed list while tuple thorws error.

Q4: Describe how dictionaries store data?


---
Ans: Dictionary stores data in key-value pairs. Keys are unique elements which can be int or string. Values can be stored of any type. Dictionary can contain any mutable and imutable types as values.
Example:


```
dictionary = { "name" : "Satwinder", "age": 21, "favourites" : ['black','mango']}
```
here, name, age, favourites are keys while satwinder, 21 , ['black','mango'] are values

In [ ]:
'''
Q5: Why might you use a set instead of a list in Python?

Ans: The only reason for using set instead of list is that set does not allow duplicate elements and remove them
whereas list allow duplicacy and count duplicate elements as a memeber of list.
Example:
'''
list1 = [1,2,2,3,4,4,4]
print(list1) # will contain duplicates as well
set1 = {1,2,2,3,4,4,4}
print(set1) # will only show originals

[1, 2, 2, 3, 4, 4, 4]
{1, 2, 3, 4}

Q6: What is a string in Python, and how is it different from a list?


---
Ans: String is sequence of character or can be said that group of characters make a string which is stored in variable using ("double quotes") or ('single quote') or ('''triple quote''').This is imutable data structure in python.
List is ordered collection of hetrogeneous data types that is stored in variable using [] square brackets  and it is mutable data structure in python. Both String and List are different because string only contains group of character and imutbale in nature while list contain different type and muable in nature.
```
str1 = "Hello" # string
list1 = [1,'a',1.3,true] # list
```

Q7: How do tuples ensure data integrity in Python?


---
Ans: Data integrity refres to accuracy, consistency and reliability. Tuples are imutable in nature which means data cannot be added , removed or changed once created that's how tuples ensure data integrity in python.

Q8: What is a hash table, and how does it relate to dictionaries in Python?


---
Ans: Hash table is also a data structure in python that stores data in key-value pairs. It use hash function to compute an index where data is stored.It is related with dictionary because dictionary also store data in key-value pair format.

Q9: Can lists contain different data types in Python?


---
Ans: Yes, the defination of list say that list contain ordered collection of heterogeneous data types which means different data types.

In [ ]:
'''
Q10: Explain why strings are immutable in Python?

Ans: Strings are imutable because it cannot be changed once created if try to do so the interpreter will throw an error.
This can be shown thorugh example:
'''
str1 ="Hello"
str1[0] = "H" # trying to change first charatcer of string
print(str1)

TypeError: 'str' object does not support item assignment

Q11: What advantages do dictionaries offer over lists for certain tasks?


---
Ans:
* Dictionary conatin key-value pair of data that shows a proper format while list only contain ordered collection
* Searching element in dictionary faster process as use key instead of index in list.

Q12: Describe a scenario where using a tuple would be preferable over a list?


---
Ans: Storing fixed values.For instance, stroing the ID of employee working in a company, tuple would be more preferable over a list.

Q13: How do sets handle duplicate values in Python?


---
Ans: Set is unordered collection of unique elements.By defination set does not allow duplicate values. It will ignore duplicate elements if try to add or if it is already in set.

In [ ]:
'''
Q14: How does the “in” keyword work differently for lists and dictionaries?

Ans: Working of "in" operator in list is it checks or scans elements of list and give true if it is present.
"in" operator in dictionary,by default looks for the key if key is present in dictionary it result true otherwise false,
to check for values .value() function is used.
Let's see it with example:
'''
list1 = ["apple","cherry","mango"]
print('mango'in list1)
dic = {"name": "Arjun", "class": "BCA", "age":21}
print('name'in dic) # look for key
print(21 in dic) # false, 21 is value not key
print(21 in dic.values()) # .value() look for value

True
True
False
True

In [ ]:
'''
Q15: Can you modify the elements of a tuple? Explain why or why not?

Ans: No, modifiying elements of a tuple is not possible because tuple supports immutability which means cannot be modified.
If try to do so it will through error.
Example:
'''
tuple1 = (10,20,20,40)
print(tuple1)
tuple1[2] = 30 # trying to change value 20 to 30
print(tuple1)

(10, 20, 20, 40)

TypeError: 'tuple' object does not support item assignment

Q16: What is a nested dictionary, and give an example of its use case?


---
Ans: Nested dictionary means a dictionary inside a dictionary.It is used to show data structure link or hierarchy. A simple example can be person detail of fullname or contact


```
dict1 = {"fullname" : {"firstname" : "Bob" , "lastname" : "Joe" } , "age" : 21 , "contact" : {"phone" : 123444 , "email" : "bb@gamil.com" } }
```

Q17: Describe the time complexity of accessing elements in a dictionary?


---
Ans: Time complexity of accessing dictionary elements is 0(1) that is a constant time. Accessing any element of dictionary takes the same time no matters how many elements are there in dictionary.

Q18: In what situations are lists preferred over dictionaries?


---
Ans: When it needs to access elements by indexing method lists are more preferable than dictionaries because dictionaries does not support indexing method instead it use keys to access elements.

Q19: Why are dictionaries considered unordered, and how does that affect data retrieval?


---
Ans: Dictionaries are considered as unordered collection values because it does not maitain any kind of order while inserting new values.It works like hash table format.It affects the data retrieval because positioning of data does not work on it. To retrieve data one must know the key of that value.

Q20: Explain the difference between a list and a dictionary in terms of data retrieval?


---
Ans: Lists are ordered collection of items while dictionary is unordered.
In terms of data retrieval list differes alot with dictionary because list are index based retrieval which means accessing items of list is done with index method by pointing the position of elements whereas dictionary use key to access the data no indexing supported in that.

***PRACTICAL QUESTIONS***

---

In [ ]:
# 1.Write a code to create a string with your name and print it.

Name = "Satwinder Kaur"
print("Name =",Name)

Name = Satwinder Kaur

In [ ]:
# 2. Write a code to find the length of the string "Hello World".

Str = "Hello World"
print("Length of given String:",len(Str))

Length of given String: 11

In [ ]:
# 3.Write a code to slice the first 3 characters from the string "Python Programming".

Str = "Python Programming"
print("first 3 characters:",Str[:3])

first 3 characters: Pyt

In [ ]:
# 4.Write a code to convert the string "hello" to uppercase.

Str = "hello"
print(f'{Str} in uppercase:',Str.upper())

hello in uppercase: HELLO

In [ ]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

str1 = "I like apple"
print(str1)
str2 = str1.replace("apple","orange")
print("After Replacing:",str2)

I like apple
After Replacing: I like orange

In [ ]:
# 6.Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4].

lis1 = [1,2,3,4]
lis1.append(10)
print(lis1)

[1, 2, 3, 4, 10]

In [ ]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

lis2 = [1,2,3,4,5]
lis2.remove(3)
print(lis2)

[1, 2, 4, 5]

In [ ]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

lis3 = ['a','b','c','d']
print(lis3[1])

b

In [ ]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50].

list1 = [10,20,30,40,50]
print(list1[::-1])

[50, 40, 30, 20, 10]

In [ ]:
# 11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

In [ ]:
# 12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple2 = ('red','green','blue','yellow')
print(tuple2[1:])

('green', 'blue', 'yellow')

In [ ]:
# 13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple1 = (10,20,5,15)
print("Minimum:",min(tuple1))

Minimum: 5

In [ ]:
# 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tup = ('dog','cat','rabbit')
print("Index of element cat:",tup.index("cat"))

Index of element cat: 1

In [ ]:
# 15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple","mango","kiwi")
print('kiwi'in fruits)

True

In [ ]:
# 16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set1 = {'a','b','c'}
print(set1)

{'c', 'a', 'b'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set2 = {1,2,3,4,5}
print(set2)
print("After clearing all elements:")
print(set2.clear())

{1, 2, 3, 4, 5}
After clearing all elements:
None

In [ ]:
# 18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set1 = {1,2,3,4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [ ]:
# 19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1,2,3}
set2 = {3,4,5}
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
# 20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1,2,3}
set2 = {2,3,4}
intersection_set = set1 & set2
print(intersection_set)

{2, 3}

In [ ]:
# 21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dic = {"name":"Satwinder Kaur","age":21,"city":"Jalandhar"}
dic

{'name': 'Satwinder Kaur', 'age': 21, 'city': 'Jalandhar'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dic1 = {"name":"John","age":25}
dic2 = {"country":"USA"}
dic1.update(dic2)
print(dic1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dicti = {"name":"Alice","age":30}
print(dicti["name"])

Alice

In [ ]:
# 24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dic = {'name':'Bob','age':22,'city':'New York'}
dic.pop("age")
print(dic)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dici = {'name':'Alice','city':'Paris'}
print('city'in dici)

True

In [ ]:
# 26.Write a code to create a list, a tuple, and a dictionary, and print them all.

lis = [2,3.4,"hi",True]
tup = (20,3.22,"hello",False)
dic = {"integer":2, "floating": 3.22,"boolean":True,"String":"hi"}
print("List:",lis)
print("Tuple:",tup)
print("Dictionary:",dic)

List: [2, 3.4, 'hi', True]
Tuple: (20, 3.22, 'hello', False)
Dictionary: {'integer': 2, 'floating': 3.22, 'boolean': True, 'String': 'hi'}

In [6]:
# 27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order and print the result.

import random
numbers =[random.randint(1,5) for i in range(5)]
numbers.sort()
print("Sorted numbers:",numbers)

Sorted numbers: [1, 1, 2, 2, 5]

In [ ]:
# 28.Write a code to create a list with strings and print the element at the third index.

lis = ["aman","raman","daman","pawan","suman"]
print(lis[3])

pawan

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.

fav ={'color':'black','fruit':'mango',}
person ={'name':'Sandy','age':21}
person.update(fav)
print(person)

{'name': 'Sandy', 'age': 21, 'color': 'black', 'fruit': 'mango'}

In [ ]:
# 30.Write a code to convert a list of strings into a set.

print("List of String:",lis)
print("Converted:",set(lis))

List of String: ['aman', 'raman', 'daman', 'pawan', 'suman']
Converted: {'aman', 'suman', 'pawan', 'daman', 'raman'}